.home_container_tickets {
    text-align: center;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }

  .home_container_tickets h1{
    font-weight: bold;
    color: #FDE74C;
    -webkit-text-stroke: 0.3px black; /* width and color */
}
  
  .container_body_tickets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    min-width: 400px; /* Add a minimum width */
  }
  
  .item {
    display: flex;
    margin: 20px;
    max-width: 900px;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
    min-width: 550px; /* Add a minimum width */
  }
  
  .item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 150px;
  }
  
  .item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }
  
  .num {
    font-size: 48px;
    margin-bottom: 5px;
  }
  
  .day {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .up-border, .down-border {
    display: block;
    width: 50%;
    height: 2px;
    background-color: #333;
    margin-bottom: 10px;
  }
  
  .event {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .sce, .loc {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .fix {
    height: 10px;
  }

.up-border,
.down-border {
  display: block;
  width: 50%;
  height: 2px;
  background-color: #333;
  margin-bottom: 10px;
}

.qrcode {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .item {
    position: relative;
  }
  
  .delete-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #100e0d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .sell-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #18108d;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .sell-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  input[name="sell-email"]  {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .submit-button {
    padding: 10px;
    background-color: #008cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .submit-button:hover {
    background-color: #0072e6;
  }

  .item-left {
    display: flex;
    flex-direction: column;
  }
  
  .item-left .sce,
  .item-left .loc {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .item-left .icon {
    margin-right: 10px;
  }
  
  .item-left .icon i {
    font-size: 18px;
  }

  .sell-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3b382c;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .submit-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }